
  <section id="sec2" class="container-fluid bg-light	" >
    <div class="row">
      <div class="col-md-4  ms-5  " style="height:400px">
        <br> <br> <br> <br> 
          <h1 class="d-block mt-5 ms-5 text-dark display-1 font-weight-bolder text-monospace">About Me</h1>
        <br>
      </div>
      <div class="col-md-7  ms-5  " style="height:400px">
        <br> <br> <br> <br> 
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, blanditiis. Fugiat totam ea debitis fuga illum id fugit. Id, eius possimus deserunt maxime nobis dignissimos labore quam assumenda dolores natus? Dicta eum quis dolorum aut fuga atque omnis, sequi velit.
          </div>
          <br> <br> 
          <a type="button" class="btn btn-dark shadow-lg ms-5 btn-lg text-monospace" style="width:200px;height: 50px;" href="../assets/bg-dark.jpg" download="bg-dark.jpg">Download Resume</a>
        <br>
      </div>
      
  </div>
  </section>
