<header id="sec1" class="container-fluid bg-dark	" >
  <div class="row">
    <div class="col-md-7  ms-5  " style="height:400px">
        <h1 class=" display-3 d-block mt-5 ms-5 text-light text-monospace">{{fullName}}</h1>
        <h1 class="display-6 d-block mt-5 ms-5 text-light text-monospace">{{jobTitle}}</h1>
        <br> <br> 
        <button type="button" class="btn btn-outline-light ms-5 btn-lg text-monospace" style="width:200px;height: 50px;">Contact Me</button>
    </div>

</div>
</header>
